{% extends 'base.html.twig' %}

{% block title %}{% trans %}auth.changepassword{% endtrans %}{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/css/auth.css">
{% endblock %}

{% block body %}

<div class="container centered auth-form">
    <h1 class="h3 mb-3 d-none d-md-block font-weight-normal text-center">{% trans %}auth.changepassword{% endtrans %}</h1>
    <div class="border px-5 py-2 text-center">
        <h1 class="h3 mb-3 d-md-none font-weight-normal text-center">{% trans %}auth.changepassword{% endtrans %}</h1>
        {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="form-group">
            {{ form_row(form.password) }}
            </div>
            {{ form_row(form.changePassword) }}
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}