{% extends 'base.html.twig' %}

{% block title %}Demander à changer le mot de passe{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/css/centered.css">
{% endblock %}

{% block body %}

<div class="container centered w-100 w-md-50 w-lg-25">
    <h1 class="h3 mb-3 font-weight-normal text-center">Mot de passe oublié ?</h1>
    <div class="border px-5 py-2 text-center">
    {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="form-group">
        {{ form_row(form.email) }}
        </div>
        {{ form_row(form.resetPassword) }}
    {{ form_end(form) }}
    </div>
</div>
{% endblock %}