{% extends 'base.html.twig' %}

{% block title %}{% trans %} auth.forgotpassword {% endtrans %}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/css/auth.css">
{% endblock %}

{% block body %}
<div class="centered container auth-form">
    <h1 class="h3 mb-3 d-none d-md-block font-weight-normal text-center">{% trans %} auth.forgotpassword{% endtrans %}</h1>
    <div class="border px-5 py-2 text-center">
        <h1 class="h3 mb-3 d-md-none font-weight-normal text-center">{% trans %} auth.forgotpassword {% endtrans %}</h1>
        <div class="card-body px-2 px-md-5 py-2 text-center">
        {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="form-group">
            {{ form_row(form.email) }}
            </div>
            {{ form_row(form.resetPassword) }}
        {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}