{% extends 'base.html.twig' %}

{% block title %}{% trans %} auth.login {% endtrans %}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/css/auth.css">
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.username }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}

		<div class="container centered auth-form">
			<h1 class="h3 mb-3 d-none d-md-block font-weight-normal text-center">{% trans %} auth.login {% endtrans %}</h1>
			<div class="border px-5 py-2 text-center">
    			<h1 class="h3 mb-3 d-md-none font-weight-normal text-center">{% trans %} auth.login {% endtrans %}</h1>
				<div class="card-body">
					<label for="inputUsername">{% trans %} auth.pseudo {% endtrans %}</label>
					<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
					<label for="inputPassword">{% trans %} auth.password {% endtrans %}</label>
					<input type="password" name="password" id="inputPassword" class="form-control mb-3" autocomplete="current-password" required>

					<input
					type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					{#
							Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
							See https://symfony.com/doc/current/security/remember_me.html
					
							<div class="checkbox mb-3">
								<label>
									<input type="checkbox" name="_remember_me"> Remember me
								</label>
							</div>
						#}
					<div class="d-flex flex-column justify-content-between">
						<button class="btn btn-md btn-success mb-5 mx-auto" type="submit">
							{% trans %} auth.login {% endtrans %}
						</button>
						<a href="/register" class="d-block d-md-none link-secondary mx-auto mb-1">
							{% trans %} auth.login {% endtrans %}
						</a>
						<a href="/forgot_password" class="link-secondary mx-auto">
							{% trans %} auth.forgotpassword {% endtrans %}
						</a>

					</div>
				</div>
			</div>
        </div>
    </form>
	{% endblock %}
