{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="/css/media.css">
	<link rel="stylesheet" href="/css/trick.css">
	<link rel="stylesheet" href="/css/auth.css">
{% endblock %}
{% block title %} {{tricks.getTitle()}} {% endblock %}

{% block body %}
	<div class="container p-0 bg-white border rounded-top my-0 my-md-5 d-flex flex-column">
		<div class="position-relative">
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<div class="position-absolute border bg-white d-flex flex-row" style="top : 10px; right : 10px;">
					<a href="{{ tricks.getEditUrl() }}" class="btn link-dark">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
							<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
						</svg>
					</a>
					<button class="btn btnRemove" data-bs-toggle="modal" data-bs-target="#DeleteModal" data-id="{{ tricks.getRemoveUrl()}}">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
							<path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
						</svg>
					</button>
				</div>
			{% endif %}
			<h1 class="position-absolute centered trick-h1-display" style=""> {{ tricks.getTitle() }}</h1>
			<img id="frontpath" class="w-100 rounded-top" src="{{ tricks.getFrontPath() }}" style="height: 50vh; object-fill:cover">
		</div>
		<div class="my-3 d-md-none w-100 text-center">
			<button class="btn btn-primary align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#media-collapse" id="displayMedia">afficher media</button>
		</div>
		<div class="navbar navbar-expand-md my-3">
			<div id="media-collapse" class="collapse navbar-collapse row row-cols-1 justify-content-center justify-content-md-start align-items-stretch row-cols-md-3 row-cols-lg-6 g-2 g-lg-3">
				{% for media in tricks.getMedias() %}
					{{ include('/media/cardDisplay.html.twig') }}
				{% endfor %}
			</div>
		</div>
		<p> {{ tricks.getDescription()| nl2br }}</p>
		<div class="trick-data align-self-center">
			<div class="trick-desc-data d-flex flex-row justify-content-around pb-3">
				<span class="border border-dark py-2 px-3 rounded">{{ (tricks.getTrickGroup()).getNameGroup() }}</span>
				<span class="border border-dark py-2 px-3 rounded">{{ tricks.getCreatedAt()|date('d/m/Y h:i') }}</span>
				{% if tricks.isModified() %}
					<span class="border border-dark py-2 px-3 rounded">{{ tricks.getModifiedAt()|date('d/m/Y h:i') }}</span>
				{% else %}
					<span class="border border-dark py-2 px-3 rounded">pas encore modifié</span>
				{% endif %}
			</div>
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<hr>
				{{ form_start(form) }}
				{{ form_errors(form)}}
				<div class="d-flex flex-row align-items-stratch">
					{{ form_widget(form.text, { 'attr' : {'style' : 'resize : none; height: auto;'}}) }}
					{{ form_widget(form.submit) }}
				</div>
				{{ form_end(form) }}
			{% endif %}
			<hr>
			<ul id='comment-list' class="list-group list-group-flush">
				{% for comment in comments %}
					{{ include('/comment/card.html.twig')}}
				{% endfor %}
			</ul>
			{% if nbToken > 0 %}
				<div class="w-100 text-center my-3">
					<button class="btn btn-primary text-center" id="btnShowMore">
				  		<span class="spinner-border spinner-border-sm" style="display: none;" id="spinnerShowMore" role="status" aria-hidden="true"></span>
						{% trans %} general.showMore {% endtrans %}
					</button>
				</div>
			{% endif %}
			</div>
		</div>
	<!--Modal-->
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
						<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
						</button>
					</div>
					<div class="modal-body">
						<p><strong>Etes-vous sûr de vouloir supprimer cette figure ?</strong></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-success" data-dismiss="modal">Non</button>
						<a id="deleteConfirm" href="{{ tricks.getRemoveUrl() }}" type="button" class="btn btn-danger">Oui</a>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
		<div class="modal fade" id="MediaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content" id="MediaContent">
					<div class="modal-body">
					</div>
				</div>
			</div>
		</div>

<script>
	$('.media-display-btn').click( function(e) {
		var data = e.currentTarget.dataset;
		var myModal = new bootstrap.Modal(document.getElementById('MediaModal'), {keyboard: false});
		$('#MediaContent').empty();
		switch(data.type) {
			case 'image' :
				$('#MediaContent').append('<img src="'+ data.url +'">');
				break;
			case 'video' :
				$('#MediaContent').append(
					'<iframe width="500" height="281" src="'+ data.url +'" frameborder="0"' +
					' allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'
				);
				break;
			default :
				return;
		}
		myModal.toggle();

	});

var offset = {{ offset }};
var nbToken = {{ nbToken }};

	$("#btnShowMore").click(function (e) {
		$('#spinnerShowMore').show();
		$.ajax({
			url: {{ tricks.getId() }}+'/comment',
			type: 'Get',
			data: { 'nbToken' : nbToken,
					'offset' : offset },
			success: function(e) {
				console.log(e);
				offset = e.offset;
				nbToken = e.nbToken;
				for([index, comment] of e.comment.entries()) {
					$("#comment-list").append(comment);
				};
				$("#spinnerShowMore").hide();
				if (nbToken <= 0) {
					$('#btnShowMore').remove();
				};
			}
		});
	});
</script>
{% endblock %}
